@model AspDotNetTraining.ViewModels.HomeStudentViewModel
@{
    ViewBag.Title = "Student ModelView";
}

<h2>Student ModelView</h2>

<h3>
    Displaying data for @Model.Student.Name (@Model.Payments.Count Payments)
</h3>



