@model IEnumerable<AspDotNetTraining.Models.Student>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>IC Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(student.Name, "Edit", new { id = student.Id })
                </td>
                <td>@student.IcNumber</td>
            </tr>
        }
    </tbody>
</table>
