@model AspDotNetTraining.Models.Student
@{
    ViewBag.Title = "Index";
}

<h2>Welcome @Model.Name</h2>

@if (Model.Name.Equals("Zubair"))
{
    <h3>How are you?</h3>
}
else
{
    <h3>I hope you are well</h3>
}

